
<nav class="navbar navbar-default navbar-static-top" style="background:#2196F3; margin-bottom: 0px; border-color: #2196F3;">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-1">
        <span class="sr-only">Menu</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="#" class="navbar-brand" style="color: white;">CDE</a>
    </div>
    <div class="collapse navbar-collapse" id="navbar-1">
      <ul class="nav navbar-nav">
        <li><%= link_to "Agenda", appointments_Agenda_path, :id => "pestaña" %></li>
        <li><%= link_to "Expedientes", patients_Expediente_path, :id => "seleccion" %></li>
        <li><%= link_to "Proveedores", suppliers_Proveedores_path, :id => "pestaña"  %></li>
        <li><%= link_to "Material", materials_Inventario_path, :id => "pestaña"  %></li>
        <li><%= link_to "Dentistas", dentists_Dentistas_path, :id => "pestaña" %></li>
        <li><%= link_to "Asistentes", assistants_Asistentes_path, :id => "pestaña" %></li>
      </ul>
    </div>
  </div>
</nav>
<div class="container-fluid" style="background: #2196F3; box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);">
  <div class="row">
    <!--Formulario Modificar--------------------------------------------------->
    <div class="dropdown">
      <button class="btn btn-primary col-md-1 dropdown-toggle" data-toggle="dropdown" type="submit" style="margin-right: 10px; margin-top: 10px; margin-bottom: 10px;">Modificar</button>
      <div class="dropdown-menu" style="margin-top: 45px;">
        <div class="contenedor-formulario">
          <div class="wrap">
            <!--Ruby adapted form--------------------------------->
            <%= form_for(:patient,
                         :url => url_for(:controller => 'patients', :action => 'ModificarPaciente', :id => @patient.id),
                         :html => {class:"formulario"}) do |f|%>
                <div class="input-group">
                  <%= f.text_field(:name) %>
                  <%= f.label(:name, "Nombre")%>
                </div>
                <div class="input-group">
                  <%= f.text_field(:surname) %>
                  <%= f.label(:surname, "Apellido Paterno")%>
                </div>
                <div class="input-group">
                  <%= f.text_field(:lastname) %>
                  <%= f.label(:lastname, "Apellido Materno")%>
                </div>
                <div class="input-group">
                  <%= f.text_field(:birth_date) %>
                  <%= f.label(:birth_date, "Fecha de nacimiento")%>
                </div>
                <div class="input-group">
                  <%= f.text_field(:address) %>
                  <%= f.label(:address, "Dirección")%>
                </div>
                <div class="input-group">
                  <%= f.text_field(:phone) %>
                  <%= f.label(:phone, "Teléfono")%>
                </div>
                <div class="wrap" style="margin-left: 340px; margin-top: -473px; border-left: 4px solid #2196f3; padding-left: 30px;">
                  <div class="input-group">
                    <%= f.text_field(:cellphone) %>
                    <%= f.label(:cellphone, "Celular")%>
                  </div>
                  <div class="input-group">
                    <%= f.text_field(:recomendation) %>
                    <%= f.label(:recomendation, "Recomendación")%>
                  </div>
                  <div class="input-group">
                    <%= f.text_field(:parents) %>
                    <%= f.label(:parents, "Padres")%>
                  </div>
                  <div class="input-group">
                    <%= f.text_field(:mail) %>
                    <%= f.label(:mail, "Correo electrónico")%>
                  </div>
                  <div class="input-group">
                    <%= f.radio_button(:gender, "Masculino") %>
                    <%= f.label(:gender,"Masculino") %>
                    <%= f.radio_button(:gender,"Femenino") %>
                    <%= f.label(:gender,"Femenino") %>
                  </div>
                  <div class="input-group">
                    <%= f.text_field(:rfc) %>
                    <%= f.label(:rfc, "RFC")%>
                  </div>
                  <%= submit_tag("Modificar",:html=> {id: "btn-agregar"}) %>
                </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <!-------------------------------------------------------------------------------------------------------------------->
    <!--Btn Borrar---------------------------------------------------->
    <%= link_to("Borrar", {action: 'BorrarPaciente', :id=> @patient.id}, :class => "btn btn-primary col-md-1 dropdown-toggle", :id =>"BotonBorrar") %>
    <!---------------------------------------------------------------->
  </div>
</div>


<div class="col-md-2" style="border-left: 4px solid #2196f3;border-bottom: 4px solid #2196f3;border-right: 4px solid #2196f3;margin-left: 40%">
  <div class="table-responsive">
    <table class="table">
      <tr><td><%= @patient.name %></td></tr>
      <tr><td><%= @patient.surname %></td></tr>
      <tr><td><%= @patient.lastname %></td></tr>
      <tr><td><%= @patient.birth_date %></td></tr>
      <tr><td><%= @patient.address %></td></tr>
      <tr><td><%= @patient.phone %></td></tr>
      <tr><td><%= @patient.recomendation %></td></tr>
      <tr><td><%= @patient.parents %></td></tr>
      <tr><td><%= @patient.mail %></td></tr>
      <tr><td><%= @patient.gender %></td></tr>
      <tr><td><%= @patient.rfc %></td></tr>
    </table>
  </div>
</div>
<!--
<div class="col-md-10">
  <div class="table-responsive">
    <table class="table table-striped table-bordered">
      <tr>
        <td>Fecha</td>
        <td>Diagnóstico</td>
        <td>Tratamiento</td>
        <td>Costo</td>
        <td>Pago</td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </table>
  </div>
</div>
-->